* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #999483;
}

body {
	font-family: ubuntu;
	background-color: #F1F7FA;
}

.grid {
	display: grid;
	position: relative;
	width: 1284px;
	height: 240px;
	margin-top: 5px;
	margin-left: 7px;
	grid-template-columns: 236px 236px 236px 236px 236px;
	grid-template-rows: 200px 40px;
}

.title {
	position: relative;
	grid-column: 1/6;
	grid-row: 1;
	text-align: center;
}

#imgtitre {
	width: 1265px;
	height: 240px;
	border-radius: 20px;
	border: 5px solid white;
}

#titre {
	position: relative;
	margin-top: -175px;
	font-family: ubuntu;
	font-size: 50px;
	color: #57544A;
}

.Accueil {
	position: relative;
	text-align: center;
	color: #999483;
}

.MakingOf {
	position: relative;
	text-align: center;
}

.Entreprise {
	position: relative;
	text-align: center;
}

.Interview {
	position: relative;
	text-align: center;
}

.Conclusion {
	position: relative;
	text-align: center;
}

#imgmain {
	width: 1285px;
	height: 3000px;
}

.maininterview h2 {
	margin-top: -2945px;
	margin-left: 70px;
}

.maininterview h3 {
	margin-left: 80px;
}

.maininterview h4 {
	margin-left: 90px;
}

.maininterview p {
	margin-left: 70px;
	margin-right: 20px;
}

.maininterview li {
	margin-left: 90px;
}