* {
	margin: 0;
	padding: 0;
}

body {
	font-family: ubuntu;
	background-color: #F1F7FA;
}

a {
	text-decoration: none;
	color: #999483;
}

.grid {
	display: grid;
	position: relative;
	width: 100%;
	height: 240px;
	grid : {
		template-columns: 236px 236px 236px 236px 236px;
		template-rows: 200px 40px;
	}
	margin : {
	top: 5px;
	left: 7px;
	}
}

.title {
	position: relative;
	grid : {
		column: 1/6;
		row: 1;
	}
	text-align: center;
}

.imgtitre {
	width: 1265px;
	height: 240px;
	border-radius: 20px;
	border : 5px solid white;
}

.titre {
	position: relative;
	margin-top: -178px;
	font : {
		family: ubuntu;
		size: 50px;
	}
	color: #57544A;
}

.Accueil {
	position: relative;
	text-align: center;
	color: #999483;
}

.MakingOf {
	position: relative;
	text-align: center;
}

.Entreprise {
	position: relative;
	text-align: center;
}

.Interview {
	position: relative;
	text-align: center;
}

.Conclusion {
	position: relative;
	text-align: center;
}

.imgmain {
	width: 100%;
	height: 1500px;
}

.imgmaininterview {
	width: 100%;
	height: 4000px;
}

//index

.mainindex h3 {
	margin : {
		top: -1450px;
		left: 250px;
	}
}

.mainindex h4 {
	margin : {
		left: 255px;
	}
}

.mainindex p {
	margin : {
		left: 250px;
		right: 250px;
	}
	text-align: justify;
	line-height: 25px;
}

//MakingOf

.mainmakingof h3 {
	margin : {
		top: -1450px;
		left: 250px;
	}
}

.mainmakingof p {
	margin : {
		left: 250px;
		right: 250px;
	}
	text-align: justify;
	line-height: 25px;
}

//entreprise

.mainentreprise h3 {
	margin : {
		top: -1450px;
		left: 250px;
	}
}

.mainentreprise p {
	margin : {
		left: 250px;
		right: 250px;
	}
	text-align: justify;
	line-height: 25px;
}

//interview

.maininterview h2 {
	margin : {
		top: -3940px;
		left: 255px;
	}
}

.maininterview h3 {
	margin-left: 260px;
}

.maininterview h4 {
	margin-left: 265px;
}

.maininterview p {
	margin : {
		left: 270px;
		right: 270px;
	}
	line-height: 25px;
}

.maininterview li {
	margin-left: 265px;
}

//conclusion

.mainconclusion h3 {
	margin : {
		top: -1450px;
		left: 250px;
	}
}

.mainconclusion p {
	margin : {
		right: 250px;
		left: 250px;
	}
	text-align: justify;
	line-height: 25px;
}